.rating-box {
    background: url("../img/rating.png") repeat-x;
    font-size: 0;
    height: 14px;
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 70px;
    margin-top: 3px;
	float: left;
}


.rating-box .rating {
    background: url("../img/rating.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 13px;
}