#b{
    float: left;

    
}
a{
     color: black;
    text-decoration: none;
}
a:hover{
    color: green;
    text-decoration: none;
}
body{
    font-family: "Droid Naskh Bold";
}
.mi{
    padding: 1px;
}
 section{
  font-family: "Droid Naskh Bold";  padding: 5px;
}
.item1 {
    font-size: 14px;
   font-family: "Droid Naskh Bold";
    background: #ffffff;
    padding-bottom:50px;
    box-sizing: border-box;
    text-align: center;
    background: white;
    height: 214px;
    width: 149px;
    float: left;
    padding-top: 10px;
    display: block;
    position: relative;
}
.d{
    margin-right: -270px;
}
.li a{
     color: green;
}
.li a:hover{
    text-decoration: underline;

}
h3{font-family: "Droid Naskh Bold";}